nav,
.panel {
  display: flex;
}

nav a,
.panel > div {
  box-sizing: border-box;
  width: 33.33%;
}

nav a {
  text-decoration: none;
  color: #333;
  text-align: center;
  border: 2px solid #333;
}

nav a:active {
  font-weight: 700;
}

.panel-wrapper {
  width: 100%;
  overflow: hidden;
  height: 80%;
}

.panel {
  width: 300%;
  height: 100%;
}

/*#leftPanel {*/
  /*background: hsl(0, 50%, 50%);*/
/*}*/

/*#centerPanel {*/
  /*background: hsl(20, 60%, 55%);*/
/*}*/

/*#rightPanel {*/
  /*background: hsl(60, 75%, 80%);*/
/*}*/

/*#bottomBar {*/
  /*background: hsl(220, 65%, 80%);*/
  /*height: 15%;*/
/*}*/


@media screen and (min-width: 1024px) and (orientation: landscape) {
  .panel {
    width: 100%
  }
  nav {
    display: none;
  }
}



